.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #46629A;
  /* background-image: linear-gradient(to right, #46629A, #ffccff); */
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #ffccff;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #ffccff;
  background-color: #46629A;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #354A72 ;
}

img {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  height: 60px;
  width: 100px;
  border-radius: 10;
}
